.complement
  padding: $m-sm $m-3xl
  background-color: $color-gray-lighter
  text-align: center
  @media screen and (max-width: map-get($grid-breakpoints, "xl"))
    padding-left: $m-base
    padding-right: $m-base

  &__separator
    background-color: $brand-primary
    border-radius: $m-xs
    height: $m-xs
    width: 80px
    margin: $m-lg auto
    @media screen and (min-width: map-get($grid-breakpoints, "xl"))
      height: $m-sm
      width: 60px

  &__header
    color: $color-black
    font-size: $font-size-2xl
    @media screen and (max-width: map-get($grid-breakpoints, "xl"))
      font-size: $font-size-lg

  &__subheader
    color: $color-gray-darker
    font-size: $font-size-lg
    padding: 0 30%
    @media screen and (max-width: map-get($grid-breakpoints, "xl"))
      font-size: $font-size-sm
      padding: 0

  &__circle
    &-container
      display: flex
      flex-wrap: wrap

    &-item
      display: flex
      flex-direction: column
      align-items: center
      flex-basis: 33%
      margin: $m-lg 0 
      @media screen and (max-width: map-get($grid-breakpoints, "xl"))
        flex-basis: 50%

    &-icon
      background-color: $color-white
      border-radius: 50%
      width: 75px
      height: 75px
      margin: $m-base
      box-shadow: $color-gray 0 10px 10px 5px
      display: flex
      align-items: center
      justify-content: center

      img
        height: 25px

    &-content
      font-size: $font-size-sm
      color: $color-gray-darkest
