@keyframes fancyRotate
  0%
    border: solid red 3px
    transform: rotate(0deg)
  33%
    border: solid green 3px
    transform: rotate(120deg)
  66%
    border: solid blue 3px
    transform: rotate(240deg)
  100%
    border: solid red 3px
    transform: rotate(360deg)

.complement
  background-color: $color-gray-lighter
  padding: $m-sm $m-base
  text-align: center

  &__subheader
    color: $color-gray-darker
    font-size: $font-size-sm
    padding: 0

  &__circles-container
    display: flex
    flex-wrap: wrap

.complement-circle
  align-items: center
  display: flex
  flex-basis: 50%
  flex-direction: column
  margin: $m-lg 0

  &__icon-wrapper
    align-items: center
    background-color: $color-white
    border-radius: 50%
    box-shadow: $color-gray 0 10px 10px 5px
    display: flex
    height: 75px
    justify-content: center
    margin: $m-base
    width: 75px

  &__icon
    height: 25px

    &.-alternative
      animation: fancyRotate 3s linear infinite
      height: $m-base * 2

  &__content
    color: $color-gray-darkest
    font-size: $font-size-sm

+media-breakpoint-up(xl)
  .complement
    padding: $m-sm $m-3xl

    &__subheader
      font-size: $font-size-lg
      padding: 0 30%

  .complement-circle
    flex-basis: 33%
