.complement
  padding: $m-sm $m-base
  background-color: $color-gray-lighter
  text-align: center

  &__separator
    background-color: $brand-primary
    border-radius: $m-xs
    height: $m-xs
    width: 80px
    margin: $m-lg auto

  &__header
    color: $color-black
    font-size: $font-size-lg

  &__subheader
    color: $color-gray-darker
    font-size: $font-size-sm
    padding: 0

  &__circle
    &-container
      display: flex
      flex-wrap: wrap

    &-item
      display: flex
      flex-direction: column
      align-items: center
      flex-basis: 50%
      margin: $m-lg 0

    &-icon
      background-color: $color-white
      border-radius: 50%
      width: 75px
      height: 75px
      margin: $m-base
      box-shadow: $color-gray 0 10px 10px 5px
      display: flex
      align-items: center
      justify-content: center

      img
        height: 25px

    &-content
      font-size: $font-size-sm
      color: $color-gray-darkest

+media-breakpoint-up(xl)
  .complement
    padding: $m-sm $m-3xl

    &__separator
      height: $m-sm
      width: 60px

    &__header
      font-size: $font-size-2xl

    &__subheader
      font-size: $font-size-lg
      padding: 0 30%

    &__circle
      &-item
        flex-basis: 33%
