.experience
  background-image: linear-gradient($color-white 0, $color-gray-lighter 100%)
  padding: $m-3xl $m-base

  .header
    margin-bottom: $m-base

    &:before
      margin: $m-lg 0

  .description
    color: $color-gray-darker
    font-size: $font-size-base
    margin-bottom: $m-xl

    &__text
      border-bottom: solid $color-gray-lighter 1px
      color: $color-gray-darker
      line-height: $font-size-xl
      padding-bottom: $m-md

    &__video-container
      +btn-reset
      align-items: center
      display: flex
      justify-content: flex-start

    &__icon
      margin: $m-sm $m-sm $m-sm 0

  .card
    background-color: $color-white
    color: $color-gray-darker
    display: flex
    flex-direction: column
    font-size: $font-size-xs
    margin: $m-base 0

    &__content
      margin-bottom: 0

    &__description
      flex: 0 1 $m-base * 5
      padding: $m-base

    &__content
      letter-spacing: 1.5px
      text-transform: uppercase

    &__image-container
      display: flex
      flex-grow: 1
      height: $m-base * 7.5

    &__image
      object-fit: cover

    &__expanded
      bottom: 0
      color: $color-white
      display: none
      font-size: $font-size-lg
      padding: $m-xl $m-3xl $m-xl $m-xl
      position: absolute
      z-index: $z-middle

    &__icon
      margin-bottom: $m-base

    &__title
      color: $color-black
      font-size: $font-size-lg
      font-weight: $font-weight-bold
      margin-bottom: 0

      &:before
        content: ''
        display: block
        border-bottom: solid $color-gray-darker 1px
        margin: $m-sm 0
        width: $m-3xl


+media-breakpoint-up(xl)
  .experience
    display: grid
    grid-template-columns: repeat(3, 1fr)
    padding: $m-3xl

    .description:nth-child(1)
      grid-row-end: 3
      grid-row-start: 1

    .header
      word-spacing: 100vw

    .card
      margin: $m-sm

      &__image-container
        height: $m-base * 12.5

      &:nth-child(3)
        position: relative
        right: -$m-lg
        top: $m-base

      &:nth-child(4)
        box-shadow: rgba($brand-primary, .1) 0 $m-base $m-lg 1px
        grid-column-start: 3
        grid-row: 1 / 3
        z-index: $z-low

        .card__expanded
          display: block

        .card__image-container
          position: relative

          &:after
            background: linear-gradient(45deg, $brand-primary, $color-white)
            bottom: 0
            content: ''
            left: 0
            position: absolute
            right: 0
            top: 0
            opacity: .75
