.tab-bar
  border-bottom: solid $color-light-transparent 2px
  font-size: $font-size-sm
  margin-bottom: $m-lg
  padding-bottom: $m-sm
  position: relative

  &__item
    border-bottom: solid $color-white 2px
    font-weight: $font-weight-bold
    letter-spacing: $spacing-wide
    padding-bottom: $m-sm
    text-transform: uppercase

.side-cards
  display: none

.main
  background-image: linear-gradient(to bottom, $color-full-transparent 66%, $color-white), url('../../assets/images/backgrounds/beach.jpg')
  background-size: cover
  color: $color-white
  min-height: 100vh
  padding: 140px $m-base $m-3xl $m-base

  &__header
    font-size: $font-size-3xl

  &__description
    font-size: $font-size-lg
    font-weight: $font-weight-bold

  &__details-container
    border-left: solid $color-white 3px
    margin: $m-lg 0

  &__details
    margin: $m-md $m-base

.main-btn
  align-items: center
  background-color: $color-light-transparent
  border: none
  color: $color-white
  display: flex
  justify-content: space-between
  padding: 0

  &__content
    font-weight: $font-weight-bold
    padding: $m-sm $m-lg

  &__icon
    background-color: $color-white
    color: $brand-primary
    height: $m-base * 2
    padding: $m-sm
    width: $m-base * 2

.search
  color: $color-black
  display: flex
  flex-wrap: wrap
  font-size: $font-size-sm
  margin-top: $m-3xl

  &__icon-container
    display: none

  &__icon
    display: inline-block
    height: $font-size-xs
    margin-left: $m-xs

    &.-transparent
      height: $m-lg
      margin: auto
      opacity: .4
      width: $m-lg

  &__label
    display: block
    margin-bottom: $m-sm

  &__section
    background-color: $color-white
    color: $color-gray-darkest
    flex-basis: 40%
    flex-grow: 1
    font-size: $font-size-xs
    padding: $m-base $m-md

  &__dropdown-expand
    +btn-reset

  &__dropdown
    align-self: center
    color: $color-black
    display: flex
    font-size: $font-size-base
    font-weight: $font-weight-bold

  &__button
    background-color: $brand-primary
    border: 0
    color: $color-white
    flex-basis: 20%
    flex-grow: 1
    font-size: $font-size-lg
    font-weight: $font-weight-bold
    margin-top: $m-sm
    padding: $m-md

+media-breakpoint-up(xl)
  .main
    padding: $m-base * 7 $m-3xl $m-3xl $m-3xl

    &__header
      font-size: $font-size-4xl

    &__description
      font-size: $font-size-xl

  .main-btn
    margin-top: $m-2xl

  .search
    flex-wrap: nowrap

    &__icon-container
      align-items: center
      background-color: $color-light-transparent
      display: flex
      width: 95px

    &__button
      margin-top: 0

  .side-cards
    display: flex
    justify-content: space-between
    position: absolute
    right: 0
    top: 100%
    width: $m-base * 8

    &__icon
      height: 5px
      width: 5px

      &.-dot
        background-image: url('../../assets/images/icons/dot.svg')
        background-size: cover

    &__item
      align-items: center
      background-color: $color-white
      color: $color-gray
      display: flex
      flex-basis: 50px
      flex-direction: column
      font-size: $font-size-lg
      font-weight: $font-weight-bold
      justify-content: space-around
      min-height: $m-base * 5
      opacity: .5
      padding-bottom: $m-sm
      padding-top: $m-base
      position: relative

      &:after
        background-color: $color-black
        bottom: 0
        content: ''
        left: 0
        opacity: .3
        position: absolute
        right: 0
        top: 0

      &.-active
        border-top: solid $border-size-base rgba($brand-primary, .7)
        color: $color-black
        opacity: .6

        &:after
          background-color: $brand-primary
          bottom: 100%
          left: 0
          opacity: 1
          right: 33%
          top: -$border-size-base

  .side-cards__icon
    box-shadow: $brand-primary 0 3px 5px 0
