.navbar
  display: flex
  justify-content: flex-end
  left: 0
  padding: $m-md
  position: absolute
  right: 0
  top: 0

  &__section
    align-items: center
    display: flex

    &.-main
      flex-grow: 1

  &__logo-text
    color: $color-white
    font-size: $font-size-lg
    font-weight: $font-weight-bold
    margin-left: $m-sm

  &__logo-icon
    height: 40px

  &__avatar
    +btn-reset
    border-radius: 50%
    border: 3px solid $color-light-transparent
    box-sizing: content-box
    height: 40px
    margin: 0 0 0 $m-md

  &__section
    display: flex

  &__item
    +btn-reset
    color: $color-white
    margin: 0 $m-sm
    padding: $m-sm
    white-space: nowrap

    &.-btn
      min-width: 130px

    &.-primary
      border-radius: $border-radius-md
      border: 2px solid $color-light-transparent

+media-breakpoint-up(xl)
  .navbar
    padding: $m-lg


+media-breakpoint-down(xs)
  .navbar
    &__section
      &.-desktop-only
        display: none
